hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    border-color: grey;
    width: 7%;

}
body{
    background-color: #EAF6F6;
}
h1{
    color: #66BFBF;

}
h3{
    color: darkcyan;
}
p{
    text-align: left;
}

/*Along with writing tags directly as selectors we can write selectors as classes by writing as
<img class="ANy name" src="..." > and it is written in css file as .ANy name{...} */
.circular{
    border-radius: 100%;
}